body{
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
}
h1,h2{
    font-size: 3rem !important;
    line-height: 1.5 !important;
}
h3{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.container-fluid{
    padding: 7% 14%!important;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75rem !important;
    font-weight: bold;
}
.navbar{
    padding-bottom: 3.5rem !important;
}
.navbar-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-button{
    margin: 4rem 1rem 1rem !important;
}
#title{
    background-color: #7900FF;
    color: #fff;
    text-align: left;
}
#title .container-fluid{
    padding-top: 3% !important;
}
.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%
}

.icon{
    color: #2F3A8F;
    padding-bottom: 1rem;
}
.icon:hover{
    color:#7900FF;
}
#features{
    background-color: #fff;
    position: relative;
}
.features{
    padding: 4.5% 0% !important;
}

#testimonials{
    background-color: #7900FF;
    color: #fff;
}
.carousel-item{
    padding: 7% 14%;
}
.testimonial-image{
    border-radius: 100%;
    padding: 3rem;
    width: 23.5%;
}
#press{
    background-color: #7900FF;
    padding-bottom: 3%;
}
.press-logo{
    margin: 10px 10px 30px;
    width: 16%;
}
#pricing{
    padding: 3% 5%;
}
.pricing-column{
    padding: 30px;
}
@media (max-width: 1024px) {
    .container-fluid{
        text-align: center;
    }
    .title-img{
        position: static;
        transform:rotate(0);
        width:40%;
    }
}
#cta{
    background-color:#7900FF;
    color: #fff;
}
.cta-txt{
    font-size:2.5rem !important;
}
p{
    color:grey;
    line-height: 2rem;
    font-size: 1.2rem;
}
.fab{
    color: #2F3A8F;
    padding: 5px 5px;
}
.fab:hover{
    color: #7900FF;
}